.appbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  &__logo {
    width: 200px;
    height: 54px;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    &--link {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
