.signInSection {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;

  & h1 {
    margin: 0.83rem 0;
  }
}

.input {
  display: flex;

  & input {
    padding: 5px;
    font-size: 1.2rem;
  }

  & label {
    margin-left: 0.25rem;
  }

  &-wrapper {
    @extend .input;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;

    & label {
      font-weight: bold;
      margin-left: 0;
    }
  }
}

.signInButton {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border: 2px solid #00bc77;
  background-color: #00bc77;
  color: #fff;

  &:hover {
    background-color: #005c3a;
    border-color: #005c3a;
  }
}

.error-message {
  color: red;
  margin-top: 1rem;
  align-self: flex-start;
}
